.white-square {
    background: #E9F7D2;
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
  }

  .black-square {
    background: #000;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
  }

  .food-label {
      font-size: 24px;
      font-weight: 900;
  }
  
  .square:focus {
    outline: none;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .board {
    border-style: solid;
    border-width: thick;
    margin: auto;
    width: 391px;
  }

  .game-over {
    border-style: none;
    margin: auto;
    width: 10% 
  }

  .game {
    display: flex;
    flex-direction: column;
  }

  .game-info {
    margin: auto; 
  }

  .snake-title {
    font-variant-caps: titling-caps;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-variant: small-caps;
  }

  .score {
    margin-left:120px;
  }

  .go-back {
      margin-left: 20px;
  }