.white-square {
    background: #E9F7D2;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
  }

  .black-square {
    background: #000;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
  }
  
  .square:focus {
    outline: none;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .back-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .board {
      position:absolute;
  }